* {
    --primary: #00B0F0;
    --secondary: #DD0303;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primaryColor {
    color: var(--primary);
}

.secondaryColor {
    color: var(--secondary);
}

.primarySize {
    font-size: 4rem;
}

.secondarySize {
    font-size: 4rem;
}

.normalSize {
    font-size: 3rem;
    line-height: 3rem;
}

.subSize {
    font-size: 1.5rem;
}

.normalSize:hover {
    cursor: pointer;
}

.text-wrapper {
    display: flex;
    position: relative;
    width: fit-content;
    padding: 0 0 1rem 0;
}

.hiragana {
    display: none;
    position: absolute;
    top: -2rem;
}

.text-wrapper:hover > .character-wrapper > .hiragana {
    display: block;
}