@import "tailwindcss";

:root {
  --color-black-0: #FFFFFF;
  --color-black-50: #E8E8E8;
  --color-black-100: #D4D4D4;
  --color-black-300: #A1A1A1;
  --color-black-400: #898989;
  --color-black-600: #5B5B5B;
  --color-black-900: #1D1D1D;
  --color-blue-300: #00B0F0;
  --color-blue-400: #0096D5;
  --color-blue-700: #004D87;
  --color-red-500: #DF0000;
  --color-purple-400: #9B5DE0;
  --color-orange-400: #F75907;
}

@theme inline {
  --color-background: var(--black-50);
  --color-foreground: var(--black-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-black-0: var(--color-black-0);
  --color-black-50: var(--color-black-50);
  --color-black-100: var(--color-black-100);
  --color-black-300: var(--color-black-300);
  --color-black-400: var(--color-black-400);
  --color-black-600: var(--color-black-600);
  --color-black-900: var(--color-black-900);
  --color-blue-300: var(--color-blue-300);
  --color-blue-700: var(--color-blue-700);
  --color-red-500: var(--color-red-500);
  --color-purple-400: var(--color-purple-400);
  --color-orange-400: var(--color-orange-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D1D1D;
    --foreground: #E8E8E8;
  }
}

body {
  background: var(--black-50);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
